In [1]:
import numpy as np
import pandas as pd
import os 
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
import matplotlib.pyplot
import plotly.express as px
import seaborn as sns
import plotly.express as px

/kaggle/input/casos-covid19/obito_cartorio.csv
/kaggle/input/casos-covid19/caso_full.csv
/kaggle/input/casos-covid19/caso.csv
/kaggle/input/casos-covid19/boletim.csv

In [2]:
print(os.getcwd())

/kaggle/working

In [3]:
print(os.listdir('..'))

['lib', 'input', 'working']

In [4]:
print(os.listdir('../input/casos-covid19/'))

['obito_cartorio.csv', 'caso_full.csv', 'caso.csv', 'boletim.csv']

In [5]:
boletim = pd.read_csv('../input/casos-covid19/boletim.csv')

In [6]:
print(type(boletim))

<class 'pandas.core.frame.DataFrame'>

In [7]:
boletim

,date,notes,state,url
0,2020-03-16,NaN,AP,https://www.portal.ap.gov.br/noticia/1603/bole...
1,2020-03-17,NaN,AP,https://www.portal.ap.gov.br/noticia/1703/bole...
2,2020-03-18,NaN,AP,https://www.portal.ap.gov.br/noticia/1803/bole...
3,2020-03-19,NaN,AP,https://www.portal.ap.gov.br/noticia/1903/bole...
4,2020-03-20,NaN,AP,https://www.portal.ap.gov.br/noticia/2003/bole...
...,...,...,...,...
20822,2020-05-04,NaN,SP,http://www.saude.sp.gov.br/resources/cve-centr...
20823,2020-05-03,NaN,SP,http://www.saude.sp.gov.br/resources/cve-centr...
20824,2020-05-02,NaN,SP,http://www.saude.sp.gov.br/resources/cve-centr...
20825,2020-05-01,NaN,SP,http://www.saude.sp.gov.br/resources/cve-centr...
20826,2020-04-30,NaN,SP,http://www.saude.sp.gov.br/resources/cve-centr...

In [8]:
casos = pd.read_csv('../input/casos-covid19/caso.csv')

In [9]:
print(type(casos))

<class 'pandas.core.frame.DataFrame'>

In [10]:
casos

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
0,2022-03-27,AP,NaN,state,160328,2122,734,True,845731.0,861773.0,16.0,18604.43527,0.0132
1,2022-03-26,AP,NaN,state,160321,2122,733,False,845731.0,861773.0,16.0,18603.62300,0.0132
2,2022-03-25,AP,NaN,state,160314,2122,732,False,845731.0,861773.0,16.0,18602.81072,0.0132
3,2022-03-24,AP,NaN,state,160301,2122,731,False,845731.0,861773.0,16.0,18601.30220,0.0132
4,2022-03-23,AP,NaN,state,160288,2122,730,False,845731.0,861773.0,16.0,18599.79368,0.0132
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837998,2020-06-23,SP,Óleo,city,1,0,5,False,2496.0,2471.0,3533809.0,40.46945,0.0000
2837999,2020-06-22,SP,Óleo,city,1,0,4,False,2496.0,2471.0,3533809.0,40.46945,0.0000
2838000,2020-06-21,SP,Óleo,city,1,0,3,False,2496.0,2471.0,3533809.0,40.46945,0.0000
2838001,2020-06-20,SP,Óleo,city,1,0,2,False,2496.0,2471.0,3533809.0,40.46945,0.0000
2838002,2020-06-19,SP,Óleo,city,1,0,1,False,2496.0,2471.0,3533809.0,40.46945,0.0000

In [11]:
casosf = pd.read_csv('../input/casos-covid19/caso_full.csv')

In [12]:
print(type(casosf))

<class 'pandas.core.frame.DataFrame'>

In [13]:
casosf

,city,city_ibge_code,date,epidemiological_week,estimated_population,estimated_population_2019,is_last,is_repeated,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_date,last_available_death_rate,last_available_deaths,order_for_place,place_type,state,new_confirmed,new_deaths
0,Rio Branco,1200401.0,2020-03-17,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-17,0.0000,0,1,city,AC,3,0
1,NaN,12.0,2020-03-17,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-17,0.0000,0,1,state,AC,3,0
2,Rio Branco,1200401.0,2020-03-18,202012,413418.0,407319.0,False,False,3,0.72566,2020-03-18,0.0000,0,2,city,AC,0,0
3,NaN,12.0,2020-03-18,202012,894470.0,881935.0,False,False,3,0.33539,2020-03-18,0.0000,0,2,state,AC,0,0
4,Rio Branco,1200401.0,2020-03-19,202012,413418.0,407319.0,False,False,4,0.96754,2020-03-19,0.0000,0,3,city,AC,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853643,Tupirama,1721257.0,2022-03-27,202213,1922.0,1891.0,False,True,223,11602.49740,2021-12-08,0.0090,2,674,city,TO,0,0
3853644,Tupiratins,1721307.0,2022-03-27,202213,2729.0,2671.0,False,True,199,7292.04837,2021-12-08,0.0151,3,674,city,TO,0,0
3853645,Wanderlândia,1722081.0,2022-03-27,202213,11734.0,11683.0,False,True,1433,12212.37430,2021-12-08,0.0147,21,699,city,TO,0,0
3853646,Xambioá,1722107.0,2022-03-27,202213,11520.0,11540.0,False,True,2458,21336.80556,2021-12-08,0.0146,36,688,city,TO,0,0
3853647,NaN,17.0,2022-03-27,202213,1590248.0,1572866.0,False,True,302502,19022.31602,2022-03-25,0.0137,4142,740,state,TO,0,0

In [14]:
obito = pd.read_csv('../input/casos-covid19/obito_cartorio.csv')

In [15]:
print(type(obito))

<class 'pandas.core.frame.DataFrame'>

In [16]:
obito

,date,state,epidemiological_week_2019,epidemiological_week_2020,deaths_indeterminate_2019,deaths_respiratory_failure_2019,deaths_others_2019,deaths_pneumonia_2019,deaths_septicemia_2019,deaths_sars_2019,...,new_deaths_sars_2019,new_deaths_covid19,new_deaths_indeterminate_2020,new_deaths_respiratory_failure_2020,new_deaths_others_2020,new_deaths_pneumonia_2020,new_deaths_septicemia_2020,new_deaths_sars_2020,new_deaths_total_2019,new_deaths_total_2020
0,2020-01-01,AC,1,1,0,2,4,3,1,0,...,NaN,NaN,1.0,1.0,8.0,2.0,2.0,NaN,10,14
1,2020-01-02,AC,1,1,0,2,10,3,2,0,...,NaN,NaN,NaN,NaN,6.0,2.0,2.0,NaN,7,10
2,2020-01-03,AC,1,1,0,2,16,3,4,0,...,NaN,NaN,NaN,NaN,8.0,3.0,2.0,NaN,8,13
3,2020-01-04,AC,1,1,0,2,18,6,5,0,...,NaN,NaN,NaN,1.0,4.0,NaN,1.0,NaN,6,6
4,2020-01-05,AC,1,2,0,2,24,7,5,0,...,NaN,NaN,NaN,1.0,4.0,4.0,NaN,NaN,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9877,2020-12-27,TO,52,53,48,450,3120,889,511,7,...,NaN,3.0,NaN,NaN,1.0,NaN,NaN,NaN,14,4
9878,2020-12-28,TO,52,53,48,452,3127,891,512,7,...,NaN,1.0,NaN,NaN,4.0,1.0,NaN,NaN,12,6
9879,2020-12-29,TO,1,53,48,452,3135,895,514,8,...,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,15,1
9880,2020-12-30,TO,1,53,48,455,3145,897,515,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,0
9881,2020-12-31,TO,1,53,48,456,3155,898,517,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,0

In [17]:
obito.describe()

,epidemiological_week_2019,epidemiological_week_2020,deaths_indeterminate_2019,deaths_respiratory_failure_2019,deaths_others_2019,deaths_pneumonia_2019,deaths_septicemia_2019,deaths_sars_2019,deaths_covid19,deaths_indeterminate_2020,...,new_deaths_sars_2019,new_deaths_covid19,new_deaths_indeterminate_2020,new_deaths_respiratory_failure_2020,new_deaths_others_2020,new_deaths_pneumonia_2020,new_deaths_septicemia_2020,new_deaths_sars_2020,new_deaths_total_2019,new_deaths_total_2020
count,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,9882.000000,...,1242.000000,7002.000000,3623.000000,8725.000000,9795.000000,9260.000000,9175.000000,3950.000000,9882.000000,9882.000000
mean,26.382514,27.071038,124.642785,1850.454361,12187.729306,4176.199960,3264.150577,27.028638,2780.680733,175.009613,...,1.206119,27.029706,2.611372,11.095129,68.790505,19.261123,17.367629,4.107342,118.423092,133.906193
std,15.054622,15.098999,251.787453,3194.941627,20428.970866,8602.343782,5736.731571,41.631789,6051.750309,340.315218,...,0.494314,43.876334,2.325928,15.726241,94.048147,30.723399,24.250413,6.653081,169.875698,193.139283
min,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,13.000000,14.000000,15.000000,244.000000,1766.250000,524.000000,388.250000,4.000000,3.000000,16.000000,...,1.000000,4.000000,1.000000,3.000000,17.000000,4.000000,4.000000,1.000000,32.000000,33.000000
50%,26.000000,27.000000,48.000000,748.000000,5345.500000,1595.500000,1259.500000,13.000000,701.000000,55.000000,...,1.000000,11.000000,2.000000,6.000000,33.000000,9.000000,8.000000,2.000000,53.000000,62.000000
75%,39.000000,40.000000,103.750000,1952.000000,12233.000000,3966.750000,3119.000000,31.000000,2715.000000,139.000000,...,1.000000,30.000000,3.000000,13.000000,85.000000,19.000000,21.000000,4.000000,148.000000,163.000000
max,52.000000,53.000000,1855.000000,25612.000000,160510.000000,73073.000000,43270.000000,293.000000,50589.000000,1943.000000,...,5.000000,304.000000,19.000000,132.000000,596.000000,245.000000,156.000000,73.000000,1051.000000,1243.000000

In [18]:
casos.describe()

,confirmed,deaths,order_for_place,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
count,2.838003e+06,2.838003e+06,2.838003e+06,2.827618e+06,2.827618e+06,2.827618e+06,2.813528e+06,2.838003e+06
mean,5.149393e+03,1.379947e+02,2.618823e+02,9.466038e+04,9.539192e+04,3.261214e+06,4.958568e+03,2.731609e-02
std,7.020509e+04,2.131838e+03,1.598804e+02,1.029041e+06,1.036542e+06,1.055882e+06,5.117580e+03,5.676793e-02
min,0.000000e+00,0.000000e+00,1.000000e+00,7.810000e+02,7.760000e+02,1.100000e+01,2.160000e-03,0.000000e+00
25%,9.200000e+01,2.000000e+00,1.270000e+02,5.536000e+03,5.539000e+03,2.504355e+06,1.035673e+03,9.900000e-03
50%,3.580000e+02,7.000000e+00,2.530000e+02,1.213000e+04,1.219500e+04,3.156908e+06,3.271272e+03,1.890000e-02
75%,1.103000e+03,2.300000e+01,3.850000e+02,2.704700e+04,2.726900e+04,4.202602e+06,7.441769e+03,3.000000e-02
max,5.232374e+06,1.671100e+05,7.500000e+02,4.591905e+07,4.628933e+07,5.300108e+06,9.048099e+05,1.000000e+00

In [19]:
casosf.describe()

,city_ibge_code,epidemiological_week,estimated_population,estimated_population_2019,last_available_confirmed,last_available_confirmed_per_100k_inhabitants,last_available_death_rate,last_available_deaths,order_for_place,new_confirmed,new_deaths
count,3.840002e+06,3.853648e+06,3.840002e+06,3.840002e+06,3.853648e+06,3.824482e+06,3.853648e+06,3.853648e+06,3.853648e+06,3.853648e+06,3.853648e+06
mean,3.228321e+06,2.021052e+05,8.116488e+04,8.054619e+04,4.777532e+03,5.984968e+03,2.650386e-02,1.296616e+02,3.442507e+02,1.385716e+01,3.307339e-01
std,1.009499e+06,5.755437e+01,9.057809e+05,8.992380e+05,6.180363e+04,5.358505e+03,4.975375e-02,1.901344e+03,1.992017e+02,2.606627e+02,6.263980e+00
min,1.100000e+01,2.020090e+05,7.760000e+02,7.810000e+02,0.000000e+00,2.160000e-03,0.000000e+00,0.000000e+00,1.000000e+00,-5.942900e+04,-4.070000e+02
25%,2.509107e+06,2.020440e+05,5.602000e+03,5.603000e+03,1.420000e+02,1.571626e+03,1.140000e-02,3.000000e+00,1.720000e+02,0.000000e+00,0.000000e+00
50%,3.144508e+06,2.021160e+05,1.219500e+04,1.213900e+04,4.800000e+02,4.675325e+03,1.970000e-02,9.000000e+00,3.440000e+02,0.000000e+00,0.000000e+00
75%,4.117297e+06,2.021400e+05,2.689900e+04,2.670000e+04,1.395000e+03,9.208211e+03,2.990000e-02,3.000000e+01,5.150000e+02,2.000000e+00,0.000000e+00
max,5.300108e+06,2.022130e+05,4.628933e+07,4.591905e+07,5.232374e+06,9.048099e+05,1.000000e+00,1.671100e+05,7.620000e+02,1.052000e+05,1.389000e+03

In [20]:
boletim.describe()

,date,notes,state,url
count,20827,6565,20827,20827
unique,787,1630,27,10832
top,2020-04-04,Dados totais coletados da Secretaria Estadual ...,GO,https://docs.google.com/spreadsheets/d/17mmfgP...
freq,37,4123,945,4123

In [21]:
obito['date']

0       2020-01-01
1       2020-01-02
2       2020-01-03
3       2020-01-04
4       2020-01-05
           ...
9877    2020-12-27
9878    2020-12-28
9879    2020-12-29
9880    2020-12-30
9881    2020-12-31
Name: date, Length: 9882, dtype: object

In [22]:
obdate = obito['date']

In [23]:
obdate

0       2020-01-01
1       2020-01-02
2       2020-01-03
3       2020-01-04
4       2020-01-05
           ...
9877    2020-12-27
9878    2020-12-28
9879    2020-12-29
9880    2020-12-30
9881    2020-12-31
Name: date, Length: 9882, dtype: object